h1{
    font-family: 'Glass Antiqua', cursive;
font-family: 'Yellowtail', cursive;
}
div{ border:solid 3px rgb(154, 70, 70);
    background-color:rgb(12, 16, 200);}
a{display: inline;
padding: 3px;
margin:10px;}