h1{
    font-family: 'Glass Antiqua', cursive;
font-family: 'Yellowtail', cursive;
font-weight:bold;
background-image:url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Thailand.svg) ;
}
div{ border:solid 3px ;
    
    display: inline;
    padding: 3px;
    margin:10px;}
.thai{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 50px;
    height: 50px;
}
.chicken{
    position:absolute;
    top:100px;
    right:0px;
    width:100px;
    height:100px;
}

